body {
  font-family: 'Arvo', serif;
}

.height {
  min-height: 100vh;
}

/* @font-face {
  font-family: 'Arvo';
  src: url('../fonts/Arvo/Arvo-Bold.ttf');
} */

.title-underline {
  width: 200px;
  height: 10px;
  margin: 0 auto;
  /* background: blue !important; */
}

.height-80 {
  min-height: 80vh;
}

.about-picture {
  background: url(../img/header-bcg.jpg) -800px 0 / cover no-repeat fixed;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}
